<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - helloAppleWatch WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>helloAppleWatch WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>helloAppleWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70288C641BC7BD56007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288C7D1BC7BD57007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288C881BC7BD57007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70288CAD1BC7BD72007FB970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
